.wrapper {
    width:90%;
    margin: auto;
    padding: 1rem;
    position: relative;
}

.dollarImg{
    margin: 4.9rem 0.8rem;
    position: absolute;
}

.input{
    width:100%;
    /* position: relative; */
    height: 3rem;
    font-size: 1.5rem;
    color:#00474B;
    font-family: 'Space Mono', monospace;
    border: none;
    border-radius: 0.5rem;
    outline-color: #26C2AE;
    padding-top: 0;
    margin-top: 0;
    /* appearance: none; */
}
    ::placeholder{
        color: #5E7A7D;
        opacity:0.7;
        padding-right: 0.5rem;
    }
    .label{
        font-family: 'Space Mono', monospace;
        font-size: 1rem;
        color: #5E7A7D;
        margin-bottom: 0;
        padding: 1.2rem;
    }

    .textContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .warning{
        font-family: 'Space Mono', monospace;
        /* margin-bottom: 0; */
        font-size: 1rem;
        padding: 0.5rem;
        color: red;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    
    input[type=number] {
      -moz-appearance: textfield;
    }